.content
    @include white-box
    color: $light-grey
    font-family: 'Roboto', serif
    font-weight: $fw-n
    padding: 2em 1em

    > div
        margin-bottom: 2em

    @include mq
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 1em
        padding: 2em

    .subtitle
        color: $dark-grey
        font-size: 1.4rem
        margin: 0.5em 0
        flex-grow: 1
    
        &:first-of-type
            margin-top: 1em
                
    span
        color: $accent

    p        
        margin-top: 0
        font-size: 1em
        line-height: 1.5

.center
    grid-column: span 2
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

.my-data-list
    @include unstyled-list
    display: grid
    grid-template-columns: minmax(5em, 10em) auto
    grid-gap: 1em
    margin: 1.5em 0 0
    color: $light-grey

    @include mq
        margin: 1em 0 0 2em

    .list-title
        color: $dark-grey
        display: inline-block
        max-width: 10em

    a
        color: $accent
        text-decoration: none
        transition: ease-in-out 300ms

        &:hover
            color: $link-hover   